name: Run main.py daily

on:
  schedule:
    # Runs daily at 08:00 UTC. Adjust cron as needed for your timezone.
    - cron: '0 8 * * *'
  workflow_dispatch:

jobs:
  run-main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11.6'

      - name: Install package
        run: |
          pip install -r requirements.txt

      - name: Run main.py
        shell: bash
        run: |
          python main.py
        env:
          TOKEN:  ${{secrets.TOKEN}}

      - name: Push changes
        env:
          TOKEN:  ${{secrets.TOKEN}}
        run: |
          git push https://${TOKEN}@github.com/Isaac234517/crazy_commit